# Virtual env
.venv/
# Python cache & bytecode
__pycache__/
*.pyc
# Local models and large binaries (but keep .gitkeep)
stable_diffusion/local_model/*
!stable_diffusion/local_model/.gitkeep
models/*
!models/.gitkeep
progan_generator_final.pt
vae_model.pth
best_vit_deepfake_detector.pt
# IDE
.vscode/
.idea/